<div class="container d-flex flex-column justify-content-center mt-5">
  <h2 class="text-center fw-bold mb-5">Sign In</h2>

  <form action="/login" method="post" class="d-flex flex-column align-items-center gap-4 needs-validation" novalidate>
    <div class="col-12 col-md-6">
      <input type="email" class="form-control py-2" id="email" name="email" placeholder="Email" required>
      <div class="invalid-feedback">
        請輸入信箱!
      </div>
    </div>
    <div class="col-12 col-md-6">
      <input type="password" class="form-control py-2" id="password" name="password" placeholder="Password" required>
      <div class="invalid-feedback">
        請輸入密碼!
      </div>
    </div>
    <button class="btn btn-primary col-md-2 col-12 py-3">Sign in</button>
    <form action="" method="post">
      <a href="/auth/google" class="btn text-primary fw-bold">Or Sign in with Google</a>
    </form>
  </form>
</div>