<div class="container mt-5">
  <h4 class="fw-bold mb-3">成為老師表單</h4>
  <form action="/teachers/create" method="post" class="col-10 mb-5 needs-validation" novalidate>
    {{> teacher-form}}
    <div class="">
      <button type="submit" class="btn btn-primary px-4">Submit</button>
    </div>
  </form>
</div>
