<div class="container-fluid mt-4" style="max-height: 100vh; max-width: 1600px;">
  <div class="row m-0">
    <div class="col-md-4 row m-0 mb-5 mx-1">
      <img src="https://via.placeholder.com/200x200" alt="" class="col-6 col-md-12 rounded-0" style="object-fit:contain; max-width:350px;">
      <div class="col-6">
        <h3 class="h3 fw-bold my-4 mb-2">Name</h3>
        <h5 class="fw-bold mb-3">Nation</h5>
      </div>
      <div class="">
        <h5 class="fw-bold mt-3">About me</h5>
        <p>
          Big company announcement or simple sub-header taking two or more lines.
        </p>
      </div>
      <div class="">
        <a href="/users/:id/edit" class="btn btn-primary col-4">Edit</a>
      </div>
    </div>
    <div class="col-md-7">
      <div class="mb-4 new-schedule">
        <h3 class="fw-bold mb-3">New Schedule</h3>
        <div class="row">
          <div class="col-sm-6 col-md-12 col-lg-6  mb-3">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex flex-wrap gap-2">
                  <div class="fw-bold">Time:</div>2024/10/10 18:30 ~ 17:30
                </div>
                <div class="card-title d-flex flex-wrap gap-2">
                  <div class="fw-bold">Teacher's Name:</div>ajidohjpioah
                </div>
                <div class="card-title d-flex flex-wrap gap-2">
                  <div class="fw-bold">Link:</div>
                  <a href="/" class="text-decoration-none fw-bold">https://meet.google.com/</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-12 col-lg-6 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex flex-wrap gap-2">
                  <div class="fw-bold">Time:</div>2024/10/10 18:30 ~ 17:30
                </div>
                <div class="card-title d-flex flex-wrap gap-2">
                  <div class="fw-bold">Teacher's Name:</div>ajidohjpioah
                </div>
                <div class="card-title d-flex flex-wrap gap-2">
                  <div class="fw-bold">Link:</div>
                  <a href="/" class="text-decoration-none fw-bold">https://meet.google.com/</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="mb-4 lesson-history">
        <h3 class="fw-bold mb-3">Lesson History</h3>
        <div class="row">
          <div class="col-sm-6 col-md-12 col-lg-6  mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-4 col-md-3">
                <img src="https://via.placeholder.com/200x200" alt="" class="rounded-circle w-100">
              </div>
              <div class="col-8 col-md-9">
                <div class="card">
                  <div class="card-body d-flex flex-wrap justify-content-between gap-1 align-items-center">
                    <p class="fs-6 fw-bold mb-0">Teacher's Name</p>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ScoreModal">Score</button>
                    <div class="modal fade" id="ScoreModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <div class="d-flex justify-content-end">
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <h4 class="fw-bold text-center">分享本次的課程體驗</h4>
                            <form action="/ratings" method="post">
                              <div class="mb-3">
                                <label for="name" class="form-label">Teacher</label>
                                <input type="text" class="form-control" id="name" value="TeacherName" disabled
                                  readonly>
                              </div>
                              <div class="mb-3">
                                <label for="time" class="form-label">Time</label>
                                <input type="text" class="form-control" id="time" value="2024/10/10 18:00 ~ 19:00" disabled readonly>
                              </div>
                              <div class="mb-3">
                                <label for="rating" class="form-label">Rating</label>
                                <input type="number" class="form-control" id="rating" value="4.7" min="0.1" max="5.0" inputmode="numeric" />
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                              <div class="d-flex justify-content-end gap-3">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </div>
                              
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
          <div class="col-sm-6 col-md-12 col-lg-6  mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-4 col-md-3">
                <img src="https://via.placeholder.com/200x200" alt="" class="rounded-circle w-100">
              </div>
              <div class="col-8 col-md-9">
                <div class="card">
                  <div class="card-body d-flex flex-wrap justify-content-between gap-1 align-items-center">
                    <p class="fs-6 fw-bold mb-0">Teacher's Name</p>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ScoreModal">Score</button>
                    <div class="modal fade" id="ScoreModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <div class="d-flex justify-content-end">
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <h4 class="fw-bold text-center">分享本次的課程體驗</h4>
                            <form action="/ratings" method="post">
                              <div class="mb-3">
                                <label for="name" class="form-label">Teacher</label>
                                <input type="text" class="form-control" id="name" value="TeacherName" disabled readonly>
                              </div>
                              <div class="mb-3">
                                <label for="time" class="form-label">Time</label>
                                <input type="text" class="form-control" id="time" value="2024/10/10 18:00 ~ 19:00" disabled
                                  readonly>
                              </div>
                              <div class="mb-3">
                                <label for="rating" class="form-label">Rating</label>
                                <input type="number" class="form-control" id="rating" value="4.7" min="0.1" max="5.0"
                                  inputmode="numeric" />
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                              <div class="d-flex justify-content-end gap-3">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </div>
          
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ranking">
        <h3 class="fw-bold mb-3">我的學習時數名次</h3>
        <div class="col-6">
          <div class="card">
            <div class="card-body d-flex gap-3">
              <div class="card-title fw-bold fs-3">Ranking:</div>
              <div class="card-text fs-3">3</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>